.container{
    border-radius: 50%;
         /* izquierdos y derechos */
    border-radius: 15px / 50px;
    background-color: lightgreen;
    padding-top: 80px;
    margin: 100px auto;
    width: 300px;
    height: 100px;
    text-align: center;
    font-weight: bold;
}