.contenedor{

    color: rgb(1, 1, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    /* background-color: aqua; */
    background-color: hsla(189, 75%, 41%, 0.4);
    padding: 10px;
    margin: 100px auto;
    width: 300px;
    height: 150px;
    font-weight: bold;
    font-size: 50px;

}