<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atRule</title>
    <link rel="stylesheet" href="/css/atRule.css">
</head>
<body>
    <div class="container">
        <h2>El TÍTULO</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat a beatae rem impedit aspernatur distinctio incidunt doloribus delectus accusamus? Repudiandae, delectus corrupti alias facere cum esse soluta sint sit obcaecati!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat a beatae rem impedit aspernatur distinctio incidunt doloribus delectus accusamus? Repudiandae, delectus corrupti alias facere cum esse soluta sint sit obcaecati!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat a beatae rem impedit aspernatur distinctio incidunt doloribus delectus accusamus? Repudiandae, delectus corrupti alias facere cum esse soluta sint sit obcaecati!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat a beatae rem impedit aspernatur distinctio incidunt doloribus delectus accusamus? Repudiandae, delectus corrupti alias facere cum esse soluta sint sit obcaecati!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat a beatae rem impedit aspernatur distinctio incidunt doloribus delectus accusamus? Repudiandae, delectus corrupti alias facere cum esse soluta sint sit obcaecati!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat a beatae rem impedit aspernatur distinctio incidunt doloribus delectus accusamus? Repudiandae, delectus corrupti alias facere cum esse soluta sint sit obcaecati!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat a beatae rem impedit aspernatur distinctio incidunt doloribus delectus accusamus? Repudiandae, delectus corrupti alias facere cum esse soluta sint sit obcaecati!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat a beatae rem impedit aspernatur distinctio incidunt doloribus delectus accusamus? Repudiandae, delectus corrupti alias facere cum esse soluta sint sit obcaecati!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat a beatae rem impedit aspernatur distinctio incidunt doloribus delectus accusamus? Repudiandae, delectus corrupti alias facere cum esse soluta sint sit obcaecati!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat a beatae rem impedit aspernatur distinctio incidunt doloribus delectus accusamus? Repudiandae, delectus corrupti alias facere cum esse soluta sint sit obcaecati!
            
        </p>

    </div>
    
</body>
</html>