<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pares e impares, identificacion de datos de pantalla</title>
    <link rel="stylesheet" href="/css/paresyimpares.css">
</head>
<body>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>País</th>
                    <th>Región</th>
                    <th>Población</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alemania</td>
                    <td>Europa</td>
                    <td>81083600</td>
                </tr>
                <tr>
                    <td>Argentina</td>
                    <td>América</td>
                    <td>43131966</td>
                </tr>
                <tr>
                    <td>Austria</td>
                    <td>Europa</td>
                    <td>8602112</td>
                </tr>
                <tr>
                    <td>Chile</td>
                    <td>América</td>
                    <td>18006407</td>
                </tr>
                <tr>
                    <td>Ecuador</td>
                    <td>América</td>
                    <td>16027500</td>
                </tr>
                <tr>
                    <td>España</td>
                    <td>Europa</td>
                    <td>46439864</td>
                </tr>
                <tr>
                    <td>México</td>
                    <td>América</td>
                    <td>121740000</td>
                </tr>
                <tr>
                    <td>Perú</td>
                    <td>América</td>
                    <td>31151643</td>
                </tr>
                <tr>
                    <td>República Dominicana</td>
                    <td>América</td>
                    <td>10528000</td>
                </tr>
                <tr>
                    <td>Venezuela</td>
                    <td>América</td>
                    <td>30620404</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>