<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilos al Primer y Ultimo Hijo</title>
   <link rel="stylesheet" href="/css/PrimeryUltimoHijo.css">
</head>
<body>
    <div class="container">
        <h1>Frutas</h1>
        <ul>
            <li>Manzana</li>
            <li>Pera</li>
            <li>Uva</li>
            <li>Melón</li>
            <li>Sandía</li>
        </ul>
        <h1>Verduras</h1>
        <ul>
            <li>Calabaza</li>
            <li>Espinaca</li>
            <li>Lechuga</li>
            <li>Espárrago</li>
            <li>Papa</li>
        </ul>
         <h1>Animales</h1>
        <ul>
            <li>Pollo</li>
            <li>Pescado</li>
            <li>Vaca</li>
        </ul>
    </div>
</body>
</html>