<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectores Hijos</title>
    <link rel="stylesheet" href="/css/selectoresHijos.css">
</head>
<body>
    <body>
        <h1>Tareas del día</h1>
            <ul id="to_dos">
                <li>Pendientes
                <ul>
                    <li>Pasear al perro</li>
                    <li>Comprar comida</li>
                    <li>Planear vacaciones</li>
                    <li>Ir al gym</li>
                </ul>
                </li>
                <li>Completados
                    <ul>
                        <li>Agendar juntas</li>
                        <li>Reservar boletos</li>
                        <li>Enviar flores</li>
                    </ul>
                </li>
            </ul>
</body>
</html>